params {
  hla_typing_cpus = 2
  hla_typing_memory = '4 GB'
  hla_typing_time = '2h'

  phase2_predict_cpus = 4
  phase2_predict_memory = '8 GB'
  phase2_predict_time = '6h'

  report_cpus = 1
  report_memory = '2 GB'
  report_time = '1h'

  slurm_queue = 'normal'
  cluster_options = ''
}

process {
  executor = 'local'
  shell = ['/bin/bash', '-euo', 'pipefail']

  withName: HLA_TYPING {
    cpus = params.hla_typing_cpus
    memory = params.hla_typing_memory
    time = params.hla_typing_time
  }

  withName: PHASE2_PREDICT {
    cpus = params.phase2_predict_cpus
    memory = params.phase2_predict_memory
    time = params.phase2_predict_time
  }

  withName: REPORT {
    cpus = params.report_cpus
    memory = params.report_memory
    time = params.report_time
  }
}
