manifest {
  name = 'NeoAntigen-Studio HPC Wrapper'
  description = 'Nextflow DSL2 wrapper for Phase 2 neoantigen ranking on local and HPC systems'
}

includeConfig 'conf/base.config'

profiles {
  standard {
    process.executor = 'local'
  }

  slurm {
    includeConfig 'conf/slurm.config'
  }

  conda {
    includeConfig 'conf/conda.config'
  }

  docker {
    docker.enabled = true
    process.container = 'davide6600/neoantigen-studio:latest'
  }

  test {
    process.executor = 'local'

    params.input_vcf = "${projectDir}/../pipelines/nextflow/neoantigen_pipeline/test_data/sample.vcf"
    params.hla_types = "HLA-A*02:01,HLA-B*07:02"
    params.sample_id = "nf_test_sample"
    params.outdir = "${projectDir}/test-results"
    params.predictor = "stub"
    params.tumor_type = "melanoma"

    params.hla_typing_cpus = 1
    params.hla_typing_memory = '1 GB'
    params.hla_typing_time = '30m'

    params.phase2_predict_cpus = 1
    params.phase2_predict_memory = '2 GB'
    params.phase2_predict_time = '1h'

    params.report_cpus = 1
    params.report_memory = '1 GB'
    params.report_time = '30m'
  }
}
